@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.wrapper-calculator {
  @apply relative z-10  h-screen bg-gradient-to-b from-number to-gradStops dark:from-gradInitDark dark:to-gradEndDark font-Aldrich grid place-items-center;
  grid-template-rows: 35% 65%;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

#svg {
  width: clamp(5rem, 25vw + 1rem, 10rem);
  filter: drop-shadow(-5px 2px 5px #e18c0b);
  @media (min-width: 1921px) {
    width: clamp(5rem, 25vw + 1rem, 12rem);
  }
}
.display-area {
  @apply flex flex-col text-end justify-end pb-8 pr-8 gap-4 place-self-end  lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3 lg:pr-24;
}
.bg-image {
  @apply absolute top-0 left-0 w-full h-full pointer-events-none;
  background-image: url("/bg.png");
  background-size: contain;
  background-position: center;
}
.grid-calculator {
  @apply grid ml-4 w-full max-w-md lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-3;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
  height: 60vh;
}

.dark #svg {
  filter: drop-shadow(-5px 2px 5px #363123);
}

.button {
  @apply text-xl flex justify-center items-center p-6 w-full h-full;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  filter: drop-shadow(0px 5px 5px #dd8b10);
}
.button-number {
  @apply bg-number text-numberContent dark:bg-numberDark dark:text-number;
}
.svg-path-number {
  @apply fill-number  dark:fill-numberDark;
}
.svg-text-number {
  @apply fill-numberContent dark:fill-number;
}
.button--arithmetic {
  @apply bg-numArith text-result dark:bg-numArithDark dark:text-numArithDarkContent;
}
.svg-path-numArith {
  @apply fill-numArith dark:fill-numArithDark;
}
.svg-text-numArith {
  @apply fill-result dark:fill-numArithDarkContent;
}
.button-result {
  @apply bg-result text-number dark:text-numberDark dark:bg-resultDark;
}
.svg-path-result {
  @apply fill-result dark:fill-resultDark;
}
.svg-text-result {
  @apply fill-number dark:fill-numberDark;
}

.link {
  @apply text-lg font-normal text-[#BC8635] dark:text-[#AA8143];
}
.link--active {
  @apply text-lg font-normal text-result dark:text-number;
}

.icon-theme {
  @apply text-result dark:text-resultDark;
}
